templates:
  gcp-pipeline-project:
    template_name: example-gcp-pipeline-template
    template_path: https://github.com/getindata/data-pipelines-template-example
  aws-pipeline-project:
    template_name: example-aws-pipeline-template
    template_path: https://github.com/getindata/data-pipelines-template-example-aws
vars:
  username: [[ username ]]