templates:
  pipeline-project:
    template_name: example-pipeline-template
    template_path: https://github.com/getindata/data-pipelines-template-example.git
  first-steps-with-data-pipelines:
    template_name: first-steps-with-data-pipelines
    template_path: https://github.com/getindata/first-steps-with-data-pipelines.git
vars:
  username: [[ username ]]
